@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  padding: 24px;
  color: whitesmoke;
  background: linear-gradient(
    to right,
    rgba(0, 180, 216, 0.58),
    rgba(0, 197, 181, 0.6),
    rgba(0, 216, 144, 0.65)
  );
}
